@keyframes animateQuestion {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.question {
    background-color: #fefefe;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    padding: 24px;
    transition: all .6s;
    border: 1px solid transparent;

    animation: animateQuestion 0.6s normal;

    & + .question {
        margin-top: 8px;
    }

    &.highlighted {
        background-color: #f4f0ff;
        border: 1px solid #5AFD91;

        footer .user-info span {
            color: #29292e;
        }
    }

    
    &.answered {
        background-color: #dbdcdd;
    }

    p {
        color: #29292e;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        .user-info {
            display: flex;
            align-items: center;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                border: 2px solid #5AFD91;
            }

            > span {
                margin-left: 8px;
                color: #737380;
                font-size: 14px;
            }
        }

        > div {
            display: flex;
            gap: 16px;
        }

        button {
            border: 0;
            background-color: transparent;
            cursor: pointer;

            &.like-button {
                display: flex;
                align-items: flex-end;
                color: #737380;
                gap: 8px;

                transition: 0.6s ease;

                &.liked {
                    color: #5AFD91;

                    svg path {
                        stroke: #5AFD91;
                    }
                }
            }

            &:hover {
                filter: brightness(.6);
            }
        }
    }
}
